numpy
torch==2.8.0
torchaudio==2.8.0
transformers
tokenizers
librosa
pandas
wav2clip
speechbrain
s3prl
plotly
kaleido
seaborn
scikit-learn
umap-learn
pyannote.audio==4.0.3
huggingface-hub
git+https://github.com/wenet-e2e/wespeaker.git